version: "3.8"

services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    environment:
      PUID: "0"
      PGID: "0"
      UMASK: "002"
      # TZ: Africa/Johannesburg
    volumes:
      - prowlarr_config:/config
    networks:
      - traefik-net
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        max_attempts: 0
      labels:
        traefik.enable: "true"
        traefik.docker.network: traefik-net

        # HTTPS router
        traefik.http.routers.prowlarr.rule: Host(`prowlarr.schollar.dev`)
        traefik.http.routers.prowlarr.entrypoints: websecure
        traefik.http.routers.prowlarr.tls.certresolver: cf

        # Upstream service port
        traefik.http.services.prowlarr.loadbalancer.server.port: "9696"

        # Prometheus Blackbox monitoring
        prometheus.blackbox: "true"
        metrics.probe_url: "https://prowlarr.schollar.dev"

volumes:
  prowlarr_config:
    driver: linbit/linstor-docker-volume
    driver_opts:
      size: 1GB
      fs: "xfs"
      replicas: "2"
      storagepool: "pool_ssd"

networks:
  traefik-net:
    external: true
