http:
  routers:
{% for route in traefik_edge_routes %}
    {{ route.router_name }}:
      rule: Host(`{{ route.host }}`)
      entryPoints: [web]
      service: {{ route.router_name ~ '_svc' if route.service_url is defined else 'internal_traefik_https' }}
      middlewares: [force_https_proto]

{% endfor %}

  services:
    internal_traefik_https:
      loadBalancer:
        servers:
{% for server in traefik_edge_internal_servers %}
          - url: "{{ server }}"
{% endfor %}
        passHostHeader: true
        serversTransport: internal_tls   # <-- inside loadBalancer

{% for route in traefik_edge_routes if route.service_url is defined %}
    {{ route.router_name }}_svc:
      loadBalancer:
        servers:
          - url: "{{ route.service_url }}"
        passHostHeader: true

{% endfor %}

  middlewares:
    force_https_proto:
      headers:
        customRequestHeaders:
          X-Forwarded-Proto: "https"

  serversTransports:                    # <-- defined under http
    internal_tls:
      insecureSkipVerify: true          # (ok for now; tighten later)
